<!--
<p id="notice"><%#= notice %></p>
-->

<div class="page-header">
  <h1 id="tables"><%= @organization.name %></h1>
</div>

<div class="row action-area">
  <div class="col-lg-12">
    <div class="pull-left">
      <%= link_to organizations_path, class: "btn-round btn-back" do %>
        <span class="glyphicon glyphicon-arrow-left"></span>
      <% end %>
    </div>
    <div class="pull-right">
      <p>
        <%= link_to '新規メールフォーム', new_organization_mailform_path, class: 'btn btn-primary' %>
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% @mailforms.each do |mailform| %>
    <div class="panel panel-primary rounded">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-8"><strong><%= link_to mailform.subject, mailform %></strong></div>
          <div class="col-md-2"><%= hdatetime mailform.created_at %></div>
          <div class="col-md-2"><%= link_to '結果', "/mailforms/#{mailform.id}/results", class: "btn btn-info btn-xs" %></div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
